---
import { Container } from '@/components/container';
import Layout from '@/layouts/layout.astro';
---

<Layout>
  <div class="wrapper">
    <Container>
      <ul>
        <li><a href="https://github.com/awwwsm/opn">(GitHub)</a></li>
        <li><a href="https://github.com/awwwsm/opn-template">(Template)</a></li>
        <li><a href="https://github.com/awwwsm/opn-docs">(Docs)</a></li>
      </ul>
    </Container>
  </div>
</Layout>

<style>
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;

    & ul {
      list-style-type: none;

      & li {
        &:not(:last-of-type) {
          margin-bottom: 8px;
        }

        text-align: center;

        & a {
          font-weight: 500;
          color: var(--color-foreground);
          text-decoration: none;
        }
      }
    }
  }
</style>
